@font-face {
  font-family: 'NEXT ART';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../src/assets/fonts/NEXTART-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../src/assets/fonts/NunitoSans10pt-Light.woff') format('woff');
}
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../src/assets/fonts/NunitoSans10pt-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../src/assets/fonts/NunitoSans10pt-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../src/assets/fonts/NunitoSans10pt-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../src/assets/fonts/NunitoSans10pt-ExtraBold.woff') format('woff');
}
