:root {
  --white: #fff;
  --gray: #f3f5f4;
  --dark-gray: #1a3e3e;
  --black: #000;
  --white-text: #fdfdfd;
  --black-text: #18121e;
  --shadow: #18121e1f;
  --yelow-text: #f2be22;
  --blur: #ffffff33;
  --blur-price: #ffffff4d;
  --scrollbar: #b2b2b2;
}
