@import '../../../assets/mixins/mixins';

.footer {
  @include font-family;
  @include flex-column-center;
  background-color: var(--dark-gray);
  min-height: 200px;
  justify-content: space-between;

  &__container {
    width: 100%;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 180px 0 80px;
    padding: 0 16px;
  }

  &__info {
    @include flex-column-center;
    align-items: flex-start;
    max-width: 460px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--white-text);
    margin-bottom: 17px;
  }

  &__text {
    @include small-regular-text;
    color: var(--white-text);
  }

  &__contacts {
    @include flex-center;
    gap: 24px;
    margin: 80px 0 32px;
  }

  &__contact {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: var(--white-text);
    cursor: pointer;
    text-decoration: underline;
  }

  &__media {
    @include flex-center;
    gap: 16px;
  }

  &__icons {
    width: 26px;
    height: 26px;
  }

  &__list {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__link {
    @include flex-center;
    align-items: baseline;
    gap: 10px;
    cursor: pointer;
  }

  &__link:hover &__arrow {
    background-image: url('../../../../src/assets/icons/right-arrow-yeelow.svg');
  }

  &__link:hover &__text {
    color: var(--yelow-text);
    text-decoration: underline;
    cursor: pointer;
  }

  &__arrow {
    width: 7px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/icons/right-arrow-white.svg');
  }

  &__new {
    padding: 2px 10px;
    gap: 10px;
    border-radius: 4px;
    background-color: var(--white);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
  }

  &__personal {
    padding: 24px 0;
    @include flex-center;
    width: 100%;
    background-color: var(--black-text);

    &-container {
      width: 100%;
      max-width: 1180px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-name {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      text-align: left;
      color: var(--white-text);
    }

    &-pdpp {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      text-align: left;
      color: var(--white-text);
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1060px) {
  .footer {
    &__container {
      flex-direction: column;
      margin: 50px 16px 80px;
      gap: 50px;
    }

    &__personal {
      &-container {
        width: 100%;
        max-width: 1180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
