*,
*::before,
*::after {
  box-sizing: border-box; }

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5; }

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1; }

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em; }

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex; }

.page {
  background-color: var(--gray); }

@font-face {
  font-family: 'NEXT ART';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../src/assets/fonts/NEXTART-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../src/assets/fonts/NunitoSans10pt-Light.woff") format("woff"); }
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../src/assets/fonts/NunitoSans10pt-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../src/assets/fonts/NunitoSans10pt-SemiBold.woff") format("woff"); }
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../src/assets/fonts/NunitoSans10pt-Bold.woff") format("woff"); }
@font-face {
  font-family: 'Nunito-Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../src/assets/fonts/NunitoSans10pt-ExtraBold.woff") format("woff"); }
:root {
  --white: #fff;
  --gray: #f3f5f4;
  --dark-gray: #1a3e3e;
  --black: #000;
  --white-text: #fdfdfd;
  --black-text: #18121e;
  --shadow: #18121e1f;
  --yelow-text: #f2be22;
  --blur: #ffffff33;
  --blur-price: #ffffff4d;
  --scrollbar: #b2b2b2; }

.header {
  font-family: 'Nunito-Sans', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  background-image: url("../../../../src/assets/images/Header-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .header__page {
    max-width: 1180px;
    margin: 0 0 82px;
    padding: 20px 16px 0; }
  .header__burger {
    display: none;
    width: 28px;
    height: 19px;
    cursor: pointer; }
  .header__close {
    position: fixed;
    top: 16px;
    right: 16px;
    display: none;
    width: 22px;
    height: 22px;
    cursor: pointer; }
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between; }
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; }
  .header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 10px; }
  .header__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    color: var(--white-text); }
  .header__list:hover .header__arrow {
    background-image: url("../../../../src/assets/icons/right-arrow-yeelow.svg"); }
  .header__list:hover .header__link {
    color: var(--yelow-text);
    text-decoration: underline;
    cursor: pointer; }
  .header__arrow {
    width: 8px;
    height: 11px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../../src/assets/icons/right-arrow-white.svg"); }
  .header__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 12px 24px;
    margin-left: 25px; }
    @media screen and (max-width: 1060px) {
      .header__button {
        padding: 12px 24px; } }
    .header__button:hover {
      border: 1px solid var(--dark-gray);
      background-color: var(--white-text);
      color: var(--dark-gray); }
  .header__title {
    width: 100%;
    font-family: NEXT ART, serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--white-text);
    margin: 460px 0 40px; }
  .header__logo {
    width: 137px; }
  .header__form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    border-radius: 10px;
    background: var(--blur);
    padding: 40px; }
  .header__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; }
  .header__select {
    width: 270px;
    height: 52px;
    cursor: pointer;
    position: relative;
    opacity: 0; }
  .header__label {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--white-text);
    width: 270px;
    height: 52px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e1e3e4;
    pointer-events: none;
    position: absolute; }
  .header__input-desc {
    font-family: 'Nunito-Sans', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white-text);
    padding-left: 8px; }
  .header__submit {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: var(--white-text);
    color: var(--black-text);
    font-weight: 700; }
    @media screen and (max-width: 1060px) {
      .header__submit {
        padding: 12px 24px; } }
    .header__submit_mobile {
      display: none; }

@media screen and (max-width: 1060px) {
  .header__logo {
    width: 84px; }
  .header__menu {
    display: none; }
    .header__menu_mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: var(--dark-gray);
      margin: 0;
      padding: 50px 0 0 16px; }
  .header__close_active {
    display: flex;
    z-index: 20; }
  .header__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: var(--white-text);
    color: var(--black-text);
    margin: 0; } }
  @media screen and (max-width: 1060px) and (max-width: 1060px) {
    .header__button {
      padding: 12px 24px; } }
@media screen and (max-width: 1060px) {
  .header__burger {
    display: block; }
  .header__title {
    font-size: 27px;
    line-height: 42px;
    margin: 234px 0 32px; }
  .header__list-arrow {
    display: block; } }
@media screen and (max-width: 650px) {
  .header__page {
    margin-bottom: 50px; }
  .header__form {
    display: none; }
  .header__submit_mobile {
    display: block;
    padding: 16px 36px; } }
input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent; }

.content {
  font-family: 'Nunito-Sans', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gray); }

.about {
  font-family: 'Nunito-Sans', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  padding: 0 16px; }
  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    margin: 100px 0; }
  .about__image {
    width: 480px; }
  .about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    max-width: 580px;
    margin-left: 15px; }
  .about__subtitle {
    color: var(--yelow-text);
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    text-align: left; }
    @media screen and (max-width: 1060px) {
      .about__subtitle {
        font-size: 16px; } }
  .about__title {
    color: var(--black-text);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: center;
    width: 100%;
    text-align: left; }
    @media screen and (max-width: 1060px) {
      .about__title {
        font-size: 24px;
        line-height: 28px; } }
  .about__description {
    font-family: 'Nunito-Sans', serif;
    color: var(--black-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin: 40px 0; }
    @media screen and (max-width: 1060px) {
      .about__description {
        font-size: 16px;
        line-height: 24px; } }
  .about__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer; }
    @media screen and (max-width: 1060px) {
      .about__button {
        padding: 12px 24px; } }
    .about__button:hover {
      border: 1px solid var(--dark-gray);
      background-color: var(--white-text);
      color: var(--dark-gray); }

@media screen and (max-width: 1060px) {
  .about__container {
    flex-direction: column;
    margin: 50px 0; }
  .about__picture {
    order: 2;
    margin-top: 40px; }
  .about__image {
    width: 350px; }
  .about__text {
    order: 1;
    align-items: center;
    margin-left: 0; }
  .about__description {
    margin: 24px 0; } }
.offers {
  font-family: 'Nunito-Sans', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0 100px;
  width: 100%;
  max-width: 1180px;
  padding: 0 16px; }
  .offers__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    max-width: 590px;
    width: 100%; }
  .offers__image {
    width: 510px; }
  .offers__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    max-width: 590px;
    margin-left: 15px; }
  .offers__subtitle {
    color: var(--yelow-text);
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    width: 100%;
    text-align: left; }
    @media screen and (max-width: 1060px) {
      .offers__subtitle {
        font-size: 16px; } }
  .offers__title {
    color: var(--black-text);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: center;
    width: 100%;
    width: 100%;
    text-align: left; }
    @media screen and (max-width: 1060px) {
      .offers__title {
        font-size: 24px;
        line-height: 28px; } }
  .offers__description {
    font-family: 'Nunito-Sans', serif;
    color: var(--black-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin: 40px 0; }
    @media screen and (max-width: 1060px) {
      .offers__description {
        font-size: 16px;
        line-height: 24px; } }
  .offers__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 16px 36px; }
    @media screen and (max-width: 1060px) {
      .offers__button {
        padding: 12px 24px; } }
    .offers__button:hover {
      border: 1px solid var(--dark-gray);
      background-color: var(--white-text);
      color: var(--dark-gray); }
  .offers__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px; }
  .offers__advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; }
  .offers__icon {
    width: 50px;
    height: 50px; }
  .offers__birk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    max-width: 530px; }
    .offers__birk-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.012em;
      text-align: left; }
    .offers__birk-description {
      font-family: 'Nunito-Sans', serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; }

@media screen and (max-width: 1060px) {
  .offers {
    justify-content: center;
    margin: 50px 0; }
    .offers__container {
      align-items: center; }
    .offers__description {
      margin: 32px 0; }
    .offers__image {
      display: none; } }
.directions {
  font-family: 'Nunito-Sans', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  padding: 0 16px; }
  .directions__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    width: 100%;
    margin: 80px 0 100px; }
  .directions__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .directions__subtitle {
    color: var(--yelow-text);
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 8px; }
    @media screen and (max-width: 1060px) {
      .directions__subtitle {
        font-size: 16px; } }
  .directions__title {
    color: var(--black-text);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: center;
    width: 100%; }
    @media screen and (max-width: 1060px) {
      .directions__title {
        font-size: 24px;
        line-height: 28px; } }
  .directions__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer; }
    @media screen and (max-width: 1060px) {
      .directions__button {
        padding: 12px 24px; } }
    .directions__button:hover {
      border: 1px solid var(--dark-gray);
      background-color: var(--white-text);
      color: var(--dark-gray); }
  .directions__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    align-items: center;
    margin: 50px 20px;
    gap: 20px; }
    .directions__cards::-webkit-scrollbar {
      height: 6px; }
    .directions__cards::-webkit-scrollbar-track {
      background-color: transparent; }
    .directions__cards::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
      border-radius: 3px; }

@media screen and (max-width: 1060px) {
  .directions__container {
    margin: 50px 0; }
  .directions__subtitle {
    text-align: left; }
  .directions__title {
    text-align: left; } }
.direction-card {
  display: flex;
  flex: 0 0 380px;
  border-radius: 33px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border: none; }
  .direction-card__image {
    object-fit: cover;
    object-position: center;
    width: 100%; }
  .direction-card__blur {
    width: 100%;
    height: 18%;
    padding: 20px 32px 20px;
    background: var(--blur);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    transition: height 0.3s ease-in; }
    .direction-card__blur:hover {
      height: 100%; }
  .direction-card__preview {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .direction-card__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: var(--white-text); }
  .direction-card__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--white-text); }
  .direction-card__price {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    background: var(--blur-price);
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--white-text); }
  .direction-card__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--white-text); }
  .direction-card__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 12px 24px;
    max-width: 180px; }
    @media screen and (max-width: 1060px) {
      .direction-card__button {
        padding: 12px 24px; } }
  .direction-card__hovers {
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: space-between;
    margin: 38px 0 0; }
  .direction-card__rating {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    border-radius: 4px 0 0 4px;
    padding: 7px 8px;
    background: var(--blur-price); }
  .direction-card__start {
    width: 18px;
    height: 18px;
    margin-right: 8px; }

@media screen and (max-width: 1060px) {
  .direction-card {
    flex: 0 0 285px;
    height: 400px; }
    .direction-card__blur {
      padding: 20px 24px; }
    .direction-card__title {
      font-size: 18px;
      line-height: 21px; }
    .direction-card__subtitle {
      font-size: 10px;
      line-height: 16px; }
    .direction-card__price {
      font-size: 16px;
      line-height: 18px;
      padding: 6px 12px; }
    .direction-card__description {
      font-size: 12px;
      line-height: 20px; }
    .direction-card__button {
      font-size: 12px;
      max-width: 160px; }
    .direction-card__hovers {
      margin: 28px 0 0;
      height: 290px; } }
.subscribe {
  font-family: 'Nunito-Sans', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 100%; }
  .subscribe__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    max-width: 1180px;
    width: 100%;
    background-color: var(--white-text);
    border-radius: 6px;
    padding: 40px 100px;
    margin: 0 16px -98px;
    box-shadow: 0 0 15px 0 var(--shadow); }
  .subscribe__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--yelow-text);
    margin-bottom: 8px; }
  .subscribe__title {
    max-width: 380px;
    font-size: 26px;
    font-weight: 800;
    line-height: 31.2px;
    text-align: left;
    color: var(--black-text); }
  .subscribe__container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 540px; }
  .subscribe__form {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    width: 100%; }
  .subscribe__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    max-width: 280px;
    width: 100%; }
  .subscribe__label {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-bottom: 8px; }
  .subscribe__input {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding: 12px 0 12px 16px;
    background-color: var(--gray);
    border-radius: 6px;
    border: none; }
  .subscribe__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 12px 24px; }
    @media screen and (max-width: 1060px) {
      .subscribe__button {
        padding: 12px 24px; } }
    .subscribe__button:hover {
      border: 1px solid var(--dark-gray);
      background-color: var(--white-text);
      color: var(--dark-gray); }
  .subscribe__pdpp {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left; }
  .subscribe__span {
    text-decoration: underline; }

@media screen and (max-width: 1060px) {
  .subscribe__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    margin: 0 16px 50px;
    gap: 18px; }
  .subscribe__title {
    max-width: 100%; }
  .subscribe__pdpp {
    margin-top: 24px; }
  .subscribe__container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 310px; }
  .subscribe__input {
    width: 100%; }
  .subscribe__form {
    flex-direction: column;
    align-items: flex-start; } }
.footer {
  font-family: 'Nunito-Sans', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  min-height: 200px;
  justify-content: space-between; }
  .footer__container {
    width: 100%;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 180px 0 80px;
    padding: 0 16px; }
  .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    max-width: 460px; }
  .footer__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--white-text);
    margin-bottom: 17px; }
  .footer__text {
    font-family: 'Nunito-Sans', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white-text); }
  .footer__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 80px 0 32px; }
  .footer__contact {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: var(--white-text);
    cursor: pointer;
    text-decoration: underline; }
  .footer__media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; }
  .footer__icons {
    width: 26px;
    height: 26px; }
  .footer__list {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px; }
  .footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    gap: 10px;
    cursor: pointer; }
  .footer__link:hover .footer__arrow {
    background-image: url("../../../../src/assets/icons/right-arrow-yeelow.svg"); }
  .footer__link:hover .footer__text {
    color: var(--yelow-text);
    text-decoration: underline;
    cursor: pointer; }
  .footer__arrow {
    width: 7px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../../src/assets/icons/right-arrow-white.svg"); }
  .footer__new {
    padding: 2px 10px;
    gap: 10px;
    border-radius: 4px;
    background-color: var(--white);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left; }
  .footer__personal {
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black-text); }
    .footer__personal-container {
      width: 100%;
      max-width: 1180px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .footer__personal-name {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      text-align: left;
      color: var(--white-text); }
    .footer__personal-pdpp {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      text-align: left;
      color: var(--white-text);
      text-decoration: underline; }

@media screen and (max-width: 1060px) {
  .footer__container {
    flex-direction: column;
    margin: 50px 16px 80px;
    gap: 50px; }
  .footer__personal-container {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; } }
.gallery {
  font-family: 'Nunito-Sans', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 100%; }
  .gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    width: 100%;
    margin: 80px 0 100px;
    padding: 0 16px; }
  .gallery__subtitle {
    color: var(--yelow-text);
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 8px; }
    @media screen and (max-width: 1060px) {
      .gallery__subtitle {
        font-size: 16px; } }
  .gallery__title {
    color: var(--black-text);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: center;
    width: 100%; }
    @media screen and (max-width: 1060px) {
      .gallery__title {
        font-size: 24px;
        line-height: 28px; } }
  .gallery__pictures {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 40px 0 50px;
    flex-wrap: wrap;
    gap: 20px; }
    .gallery__pictures::-webkit-scrollbar {
      height: 6px; }
    .gallery__pictures::-webkit-scrollbar-track {
      background-color: transparent; }
    .gallery__pictures::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
      border-radius: 3px; }
  .gallery__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer; }
    @media screen and (max-width: 1060px) {
      .gallery__button {
        padding: 12px 24px; } }
    .gallery__button:hover {
      border: 1px solid var(--dark-gray);
      background-color: var(--white-text);
      color: var(--dark-gray); }
  .gallery__photo {
    display: flex;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    width: 280px;
    height: 250px; }
    .gallery__photo_large {
      width: 580px; }

@media screen and (max-width: 1060px) {
  .gallery__container {
    margin: 50px 0; }
  .gallery__subtitle {
    text-align: left; }
  .gallery__pictures {
    margin: 32px 0;
    overflow-x: auto;
    flex-wrap: nowrap; }
  .gallery__title {
    text-align: left; }
  .gallery__photo_large {
    width: 280px; } }
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  width: 100%; }
  .blog__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    width: 100%;
    margin: 80px 0 82px;
    overflow-x: hidden; }
  .blog__subtitle {
    color: var(--yelow-text);
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 8px; }
    @media screen and (max-width: 1060px) {
      .blog__subtitle {
        font-size: 16px; } }
  .blog__title {
    color: var(--black-text);
    font-size: 32px;
    font-weight: 800;
    line-height: 38.4px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px; }
    @media screen and (max-width: 1060px) {
      .blog__title {
        font-size: 24px;
        line-height: 28px; } }
  .blog__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; }
    .blog__cards::-webkit-scrollbar {
      height: 6px; }
    .blog__cards::-webkit-scrollbar-track {
      background-color: transparent; }
    .blog__cards::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
      border-radius: 3px; }
  .blog__button {
    font-family: 'Nunito-Sans', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 16px 36px;
    background-color: var(--dark-gray);
    color: var(--white-text);
    gap: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 50px; }
    @media screen and (max-width: 1060px) {
      .blog__button {
        padding: 12px 24px; } }

@media screen and (max-width: 1060px) {
  .blog__container {
    padding: 0 16px; }
  .blog__cards {
    display: flex;
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap; }
  .blog__button {
    margin-top: 32px; } }
.card {
  border-radius: 10px;
  background: #fdfdfd;
  display: flex;
  flex-direction: row;
  width: 580px;
  gap: 24px; }
  .card:hover {
    cursor: pointer; }
  .card:hover .card__title {
    color: #1a3e3e;
    text-decoration: underline;
    text-underline-offset: 4px; }
  .card__photo {
    margin: 16px 0 16px 16px;
    width: 230px;
    height: 280px; }
  .card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 32px 16px 16px 0; }
  .card__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; }
  .card__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; }
  .card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .card__date {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #f2be22; }
  .card__more {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #1a3e3e; }

@media screen and (max-width: 1060px) {
  .card {
    flex: 0 0 285px;
    flex-direction: column;
    gap: 16px; }
    .card__photo {
      margin: 0;
      width: 285px;
      height: 280px; }
    .card__description {
      padding: 0 16px 16px;
      margin: 0;
      height: 285px; }
    .card__title {
      line-height: 26px; }
    .card__text {
      -webkit-line-clamp: 4; } }

/*# sourceMappingURL=index.css.map */
