@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-family {
  font-family: 'Nunito-Sans', serif;
}

@mixin small-regular-text {
  @include font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin button-black-m {
  @include font-family;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-decoration: none;
  padding: 16px 36px;
  background-color: var(--dark-gray);
  color: var(--white-text);
  gap: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  @media screen and (max-width: 1060px) {
    padding: 12px 24px;
  }
}

@mixin button-black-s {
  @include button-black-m;
  padding: 12px 24px;
}

@mixin button-black-hover {
  border: 1px solid var(--dark-gray);
  background-color: var(--white-text);
  color: var(--dark-gray);
}

@mixin button-white {
  @include button-black-m;
  background-color: var(--white-text);
  color: var(--black-text);
}

@mixin yellow-title {
  color: var(--yelow-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  width: 100%;

  @media screen and (max-width: 1060px) {
    font-size: 16px;
  }
}

@mixin black-title {
  color: var(--black-text);
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  text-align: center;
  width: 100%;

  @media screen and (max-width: 1060px) {
    font-size: 24px;
    line-height: 28px;
  }
}

@mixin description-text {
  @include font-family;
  color: var(--black-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;

  @media screen and (max-width: 1060px) {
    font-size: 16px;
    line-height: 24px;
  }
}
