@import '../../../assets/mixins/mixins';
.about {
  @include font-family;
  @include flex-center;
  width: 100%;
  background-color: var(--white);
  padding: 0 16px;

  &__container {
    @include flex-center;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    margin: 100px 0;
  }

  &__image {
    width: 480px;
  }

  &__text {
    @include flex-column-center;
    align-items: flex-start;
    max-width: 580px;
    margin-left: 15px;
  }

  &__subtitle {
    @include yellow-title;
    margin-bottom: 8px;
    text-align: left;
  }

  &__title {
    @include black-title;
    text-align: left;
  }

  &__description {
    @include description-text;
    margin: 40px 0;
  }

  &__button {
    @include button-black-m;

    &:hover {
      @include button-black-hover;
    }
  }
}
@media screen and (max-width: 1060px) {
  .about {
    &__container {
      flex-direction: column;
      margin: 50px 0;
    }

    &__picture {
      order: 2;
      margin-top: 40px;
    }

    &__image {
      width: 350px;
    }

    &__text {
      order: 1;
      align-items: center;
      margin-left: 0;
    }

    &__description {
      margin: 24px 0;
    }
  }
}
