@import '../../../assets/mixins/mixins';

.subscribe {
  @include font-family;
  @include flex-center;
  background-color: var(--white);
  width: 100%;

  &__container {
    @include flex-center;
    gap: 64px;
    max-width: 1180px;
    width: 100%;
    background-color: var(--white-text);
    border-radius: 6px;
    padding: 40px 100px;
    margin: 0 16px -98px;
    box-shadow: 0 0 15px 0 var(--shadow);
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--yelow-text);
    margin-bottom: 8px;
  }

  &__title {
    max-width: 380px;
    font-size: 26px;
    font-weight: 800;
    line-height: 31.2px;
    text-align: left;
    color: var(--black-text);
  }

  &__container-form {
    @include flex-column-center;
    max-width: 540px;
  }

  &__form {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    width: 100%;
  }

  &__inputs {
    @include flex-column-center;
    align-items: flex-start;
    max-width: 280px;
    width: 100%;
  }

  &__label {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-bottom: 8px;
  }

  &__input {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding: 12px 0 12px 16px;
    background-color: var(--gray);
    border-radius: 6px;
    border: none;
  }

  &__button {
    @include button-black-s;

    &:hover {
      @include button-black-hover;
    }
  }

  &__pdpp {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
  }

  &__span {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1060px) {
  .subscribe {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      padding: 24px;
      margin: 0 16px 50px;
      gap: 18px;
    }

    &__title {
      max-width: 100%;
    }

    &__pdpp {
      margin-top: 24px;
    }

    &__container-form {
      @include flex-column-center;
      max-width: 310px;
    }

    &__input {
      width: 100%;
    }

    &__form {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
