@import '../../../assets/mixins/mixins';

.blog {
  @include flex-column-center;
  background-color: var(--gray);
  width: 100%;

  &__container {
    @include flex-column-center;
    max-width: 1180px;
    width: 100%;
    margin: 80px 0 82px;
    overflow-x: hidden;
  }

  &__subtitle {
    @include yellow-title;
    margin-bottom: 8px;
  }

  &__title {
    @include black-title;
    margin-bottom: 40px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
      border-radius: 3px;
    }
  }

  &__button {
    @include button-black-m;
    margin-top: 50px;
  }
}

@media screen and (max-width: 1060px) {
  .blog {
    &__container {
      padding: 0 16px;
    }

    &__cards {
      display: flex;
      width: 100%;
      overflow-x: auto;
      flex-wrap: nowrap;
    }

    &__button {
      margin-top: 32px;
    }
  }
}
