@import '../../../assets/mixins/mixins';

.header {
  @include font-family;
  @include flex-column-center;
  background-color: black;
  width: 100%;
  background-image: url('../../../../src/assets/images/Header-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__page {
    max-width: 1180px;
    margin: 0 0 82px;
    padding: 20px 16px 0;
  }

  &__burger {
    display: none;
    width: 28px;
    height: 19px;
    cursor: pointer;
  }

  &__close {
    position: fixed;
    top: 16px;
    right: 16px;
    display: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }

  &__nav {
    @include flex-center;
    width: 100%;
    justify-content: space-between;
  }

  &__menu {
    @include flex-center;
    gap: 24px;
  }

  &__list {
    @include flex-center;
    align-items: center;
    gap: 10px;
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    color: var(--white-text);
  }

  &__list:hover &__arrow {
    background-image: url('../../../../src/assets/icons/right-arrow-yeelow.svg');
  }

  &__list:hover &__link {
    color: var(--yelow-text);
    text-decoration: underline;
    cursor: pointer;
  }

  &__arrow {
    width: 8px;
    height: 11px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../../src/assets/icons/right-arrow-white.svg');
  }

  &__button {
    @include button-black-s();
    margin-left: 25px;
    &:hover {
      @include button-black-hover;
    }
  }

  &__title {
    width: 100%;
    font-family:
      NEXT ART,
      serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--white-text);
    margin: 460px 0 40px;
  }

  &__logo {
    width: 137px;
  }

  &__form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    border-radius: 10px;
    background: var(--blur);
    padding: 40px;
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__select {
    width: 270px;
    height: 52px;
    cursor: pointer;
    position: relative;
    opacity: 0;
  }

  &__label {
    @include flex-center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--white-text);
    width: 270px;
    height: 52px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #e1e3e4;
    pointer-events: none;
    position: absolute;
  }

  &__input-desc {
    @include small-regular-text;
    color: var(--white-text);
    padding-left: 8px;
  }

  &__submit {
    @include button-white;
    font-weight: 700;

    &_mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 1060px) {
  .header {
    &__logo {
      width: 84px;
    }
    &__menu {
      display: none;

      &_mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--dark-gray);
        margin: 0;
        padding: 50px 0 0 16px;
      }
    }
    &__close_active {
      display: flex;
      z-index: 20;
    }

    &__button {
      @include button-white;
      margin: 0;
    }
    &__burger {
      display: block;
    }
    &__title {
      font-size: 27px;
      line-height: 42px;
      margin: 234px 0 32px;
    }
    &__list-arrow {
      display: block;
    }
  }
}

@media screen and (max-width: 650px) {
  .header {
    &__page {
      margin-bottom: 50px;
    }
    &__form {
      display: none;
    }
    &__submit_mobile {
      display: block;
      padding: 16px 36px;
    }
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}
