@import '../../../assets/mixins/mixins';

.directions {
  @include font-family;
  @include flex-center;
  width: 100%;
  background-color: var(--white);
  padding: 0 16px;

  &__container {
    @include flex-center;
    max-width: 1180px;
    width: 100%;
    margin: 80px 0 100px;
  }

  &__text {
    @include flex-column-center;
    width: 100%;
  }

  &__subtitle {
    @include yellow-title;
    margin-bottom: 8px;
  }

  &__title {
    @include black-title;
  }

  &__button {
    @include button-black-m;

    &:hover {
      @include button-black-hover;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: auto;
    align-items: center;
    margin: 50px 20px;
    gap: 20px;
    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
      border-radius: 3px;
    }
  }
}

@media screen and (max-width: 1060px) {
  .directions {
    &__container {
      margin: 50px 0;
    }
    &__subtitle {
      text-align: left;
    }

    &__title {
      text-align: left;
    }
  }
}
