@import '../../../assets/mixins/mixins';

.card {
  border-radius: 10px;
  background: #fdfdfd;
  display: flex;
  flex-direction: row;
  width: 580px;
  gap: 24px;

  &:hover {
    cursor: pointer;
  }

  &:hover .card__title {
    color: #1a3e3e;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  &__photo {
    margin: 16px 0 16px 16px;
    width: 230px;
    height: 280px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 32px 16px 16px 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__date {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #f2be22;
  }

  &__more {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #1a3e3e;
  }
}

@media screen and (max-width: 1060px) {
  .card {
    flex: 0 0 285px;
    flex-direction: column;
    gap: 16px;

    &__photo {
      margin: 0;
      width: 285px;
      height: 280px;
    }

    &__description {
      padding: 0 16px 16px;
      margin: 0;
      height: 285px;
    }

    &__title {
      line-height: 26px;
    }

    &__text {
      -webkit-line-clamp: 4;
    }
  }
}
