@import '../../../assets/mixins/mixins';
.offers {
  @include font-family;
  @include flex-center;
  justify-content: space-between;
  margin: 80px 0 100px;
  width: 100%;
  max-width: 1180px;
  padding: 0 16px;

  &__container {
    @include flex-column-center;
    align-items: flex-start;
    max-width: 590px;
    width: 100%;
  }

  &__image {
    width: 510px;
  }

  &__text {
    @include flex-column-center;
    align-items: flex-start;
    max-width: 590px;
    margin-left: 15px;
  }

  &__subtitle {
    @include yellow-title;
    margin-bottom: 8px;
    width: 100%;
    text-align: left;
  }

  &__title {
    @include black-title;
    width: 100%;
    text-align: left;
  }

  &__description {
    @include description-text;
    margin: 40px 0;
  }

  &__button {
    @include button-black-m;
    padding: 16px 36px;

    &:hover {
      @include button-black-hover;
    }
  }

  &__list {
    @include flex-column-center;
    gap: 40px;
    margin-bottom: 40px;
  }

  &__advantage {
    @include flex-center;
    gap: 16px;
  }

  &__icon {
    width: 50px;
    height: 50px;
  }

  &__birk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    max-width: 530px;

    &-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.012em;
      text-align: left;
    }

    &-description {
      @include small-regular-text;
    }
  }
}

@media screen and (max-width: 1060px) {
  .offers {
    justify-content: center;
    margin: 50px 0;

    &__container {
      align-items: center;
    }

    &__description {
      margin: 32px 0;
    }

    &__image {
      display: none;
    }
  }
}
