@import '../../../assets/mixins/mixins';

.gallery {
  @include font-family;
  @include flex-center;
  background-color: var(--white);
  width: 100%;

  &__container {
    @include flex-column-center;
    max-width: 1180px;
    width: 100%;
    margin: 80px 0 100px;
    padding: 0 16px;
  }

  &__subtitle {
    @include yellow-title;
    margin-bottom: 8px;
  }

  &__title {
    @include black-title;
  }

  &__pictures {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 40px 0 50px;
    flex-wrap: wrap;
    gap: 20px;

    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar);
      border-radius: 3px;
    }
  }

  &__button {
    @include button-black-m;

    &:hover {
      @include button-black-hover;
    }
  }

  &__photo {
    display: flex;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    width: 280px;
    height: 250px;

    &_large {
      width: 580px;
    }
  }
}

@media screen and (max-width: 1060px) {
  .gallery {
    &__container {
      margin: 50px 0;
    }
    &__subtitle {
      text-align: left;
    }

    &__pictures {
      margin: 32px 0;
      overflow-x: auto;
      flex-wrap: nowrap;
    }

    &__title {
      text-align: left;
    }

    &__photo {
      &_large {
        width: 280px;
      }
    }
  }
}
