@import '../../../assets/mixins/mixins';
.direction-card {
  display: flex;
  flex: 0 0 380px;
  border-radius: 33px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border: none;
  &__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__blur {
    width: 100%;
    height: 18%;
    padding: 20px 32px 20px;
    background: var(--blur);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    transition: height 0.3s ease-in;

    &:hover {
      height: 100%;
    }
  }

  &__preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: var(--white-text);
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--white-text);
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    background: var(--blur-price);
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--white-text);
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--white-text);
  }

  &__button {
    @include button-black-s;
    max-width: 180px;
  }

  &__hovers {
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: space-between;
    margin: 38px 0 0;
  }

  &__rating {
    position: absolute;
    top: 50px;
    right: 0;
    @include flex-center;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    border-radius: 4px 0 0 4px;
    padding: 7px 8px;
    background: var(--blur-price);
  }

  &__start {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 1060px) {
  .direction-card {
    flex: 0 0 285px;
    height: 400px;

    &__blur {
      padding: 20px 24px;
    }
    &__title {
      font-size: 18px;
      line-height: 21px;
    }

    &__subtitle {
      font-size: 10px;
      line-height: 16px;
    }

    &__price {
      font-size: 16px;
      line-height: 18px;
      padding: 6px 12px;
    }

    &__description {
      font-size: 12px;
      line-height: 20px;
    }

    &__button {
      font-size: 12px;
      max-width: 160px;
    }

    &__hovers {
      margin: 28px 0 0;
      height: 290px;
    }
  }
}
